.form {
    width: 100%;
    max-width: 1200px;
    color: var(--white);
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form label {
    padding: 1rem;
}

.form input {
    height: 3rem;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.form select {
    height: 3rem;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.form textarea {
    height: 10rem;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}